@import '../MediaUtils';
@import '../Colors';

.section {
    width: 100%;
    .wrap {
        width: 100%;
        margin:0 auto;
    }
}

@include Desktop {
    .section {
        .wrap {
            width: $DESKTOP_SIZE_MIN;
        }
    }
}
